body {
    font-family: 'Arial', sans-serif;
   
}



header {
    background-color: #6d7341;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(189, 108, 108, 0.8);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.banner-img{
    width:100%;
}
main {
    min-height: calc(100vh - 180px);
}





